
    <style>
          
       body{
            color: rgb(74, 13, 255);
        }
        h1{
		color: rgb(23, 73, 209); 
		}
		h2{
		color: rgb(101, 59, 255); 
		}
        
    </style>
